* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #008cba;
    transition: background-color 0.3s ease-in-out;
}

.dashboard {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 7%;
    }
    
    &__title {
        font-size: 1.8rem;
    }
    
    &__content {
        padding: 1% 6%;
    }
}

.tab-container {
    display: inline-flex;
    background: #CBEDF9;
    border-radius: 15px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
    height: 9vh;
    
    &__button {
        border: none;
        background: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 15px;
        color: black;
        transition: all 0.1s ease;
        
        &.active {
            background: #FB9F00;
            color: white;
            font-weight: bold;
        }
    }
}

.article-container {
    background-color: #A5E4F9;
    border-radius: 30px;
    padding: 2%;

    &__section {
        display: none;
    }
    
    &__section:not(.hidden) {
        display: block;
    }
}

.hidden {
    display: none !important;
}
// Block: data-metrics
.data-metrics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3vh; 
    margin-left: 4%;

    &__image {
        width: 35vh;
    }

    .metric {
        position: relative;
        text-align: center;
        margin: 0;
        padding: 0;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
        }

        &__number {
            font-size: 35px;
            font-weight: bold;
        }

        &__text {
            font-size: 0.7rem;
            margin-top: -2vh;
            text-transform: uppercase;
        }
    }
}

footer {
    width: 100%;
    // background-color: $footer-background;
    // color: $footer-color;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.funnel-chart__card {
    background: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 0.625rem 0 rgba(65, 65, 65, 0.1);
    text-align: center;
    width: 32vw;
    padding: 5%;
}

.funnel-chart__heading {
    margin-bottom: 0.625rem;
}

.funnel-chart__heading p {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10%;
    color: #777;
}

.funnel-chart__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funnel-chart-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.data-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0.313rem 0;
}

.data-heading {
    width: 10vw;
    text-align: left;
    font-size: 0.875rem;
    color: #777;
}

.graph-container {
    display: flex;
    flex-grow: 1;
    height: 1.25rem;
    border-radius: 0.313rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.graph-bar {
    height: 100%;
    border-radius: 0.313rem;
}

.application {
    background: #3da9fc;
}

.review {
    background: #56c3ff;
}

.assessment {
    background: #6fcfff;
}

.interview-1 {
    background: #85dcff;
}

.interview-2 {
    background: #f5c37f;
}

.offer {
    background: #f5b76f;
}

.start {
    background: #f59b4f;
}

.width-line-initial,
.width-line-final {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0.625rem;
    margin-left: 10vw;

    p {
        font-size: 0.7rem;
        color: #888;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.horizontal-line {
    width: 80%;
    height: 0.05rem;
    background-color: #ccc;
    position: relative;
}

.width-line-final {
    margin-top: 2%;
    width: 1vw;

    p {
        margin-top: 2rem;
        color: #777;
    }
}

.width-line-initial {
    width: 85%;

    p {
        margin-bottom: 2rem;
    }
}
#recruitmentAnalytics{
    display: flex;
    gap: 8%;
}